<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Integration Successful</title>
  </head>
  <style>
    html, body {
      font-family: Arial, Helvetica, sans-serif;
      background: #eee;
      background-image: linear-gradient(45deg, #eaeaea 25%, transparent 25%), linear-gradient(-45deg, #eaeaea 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #eaeaea 75%), linear-gradient(-45deg, transparent 75%, #eaeaea 75%);
      background-size: 10px 10px;
      background-position: 0 0, 0 5px, 5px -5px, -5px 0px;
      color:#666;
    }

    section {
      width: 98%;
      margin: 30px auto;
      background: #fff;
      border-radius: 5px;
      padding: 10px 30px 15px;
      box-sizing: border-box;
      max-width: 700px;
    }
    p {
      line-height: 150%;
    }
  </style>
  <body class="container">
    <section>
      <h1>Integration Success</h1>
      <p>
        You have successfully integrated launchpads with your SEI project.
      </p>
      <p>
        You may now close this modal.
      </p>
    </section>
  </body>
</html>
