<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Create A Launchpad</title>
	</head>
	<style>
		html, body {
			font-family: Arial, Helvetica, sans-serif;
			background: #eee;
			background-image: linear-gradient(45deg, #eaeaea 25%, transparent 25%), linear-gradient(-45deg, #eaeaea 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #eaeaea 75%), linear-gradient(-45deg, transparent 75%, #eaeaea 75%);
			background-size: 10px 10px;
			background-position: 0 0, 0 5px, 5px -5px, -5px 0px;
			color:#666;
		}
		* {
			box-sizing: border-box;
		}

		main {
			width: 98%;
			margin: 30px auto;
			background: #fff;
			border-radius: 5px;
			padding: 10px 30px 15px;
			box-sizing: border-box;
			max-width: 960px;
		}
		.info {
			margin:10px 0 15px;
		}
		.info label {
			display: block;
			text-transform: uppercase;
			font-size: 14px;
			margin:10px 0;
		}
		.info input[type=text] {
			width: 100%;
			display: block;
			margin:10px 0;
			padding: 8px;
			font-size: 14px;

		}
		button {
      width:100%;
      max-width: 200px;
      height: 50px;
      background: #2097d7;
      text-align: center;
      line-height: 50px;
      display: block;
      color:#fff;
      text-decoration: none;
      margin: 25px 0 15px 0;
      transition: 0.2s;
			font-size: 16px;
			cursor:pointer;
    }
    button:hover {
      background: #088fd8;
    }
	</style>

	<body>
		<main>
			<form method="POST">
				<h1>
					Create A Launchpad
				</h1>
				<div class="userInfo">
					<div class="info">
						<label for="name">Launchpad Name</label>
						<input type="text" id="name" name="name" placeholder="Enter name" />
					</div>
					<div class="info">
						<label for="id_2">Optional Passcode</label>
						<input type="text" id="id_2" name="another_field" placeholder="Enter code" />
					</div>
					<div class="info">
						<label for="id_3">Proctor Passcode (secure deliveries)</label>
						<input type="text" id="id_3" name="other_field" placeholder="Enter code" />
					</div>
					<div class="info">
						<label>
							<input type="checkbox" checked="checked" /> Make Active on Save
						</label>
					</div>
					<button type="submit">Create</button>
				</div>
			</form>
	</body>
	<script>
		document.addEventListener('DOMContentLoaded', init);

		function init() {

		}

	</script>
</html>
