<div  style="font-family:Arial, Helvetica, sans-serif;">
    <p>Success.</p>
    <p><a href="" style="background:#333; color: #fff; border-radius: 3px; text-decoration:none; padding: 5px 15px;">Do something else</a></p>
</div>